{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
    <footer id="page-footer" class="py-3 bg-dark text-light">
        <div class="container" style="display: flex; justify-content: space-between;">
            <div class="col-md-6 col-sm-8" id="yui_3_17_2_1_1618366041691_203">
                <img src="http://vinasa.org.vn/SiteFolders/Root/391/banner/vinasaBanner.png" style="max-width: 100%;" />  
                <small style="display: block; padding-left: 25px; margin-top: -20px;">
                    <br>Điện thoại: <strong>(024) 3577 2336 - 3577 2338</strong>
                    <br>Email: <strong>contact@vinasa.org.vn</strong>
                    <br>Fax: (024) 3577 2337
                    <br>Địa chỉ: Tầng 11, tòa nhà Cung Trí thức thành phố, 01 Tôn Thất Thuyết, Cầu Giấy, Hà Nội<br>
                </small>
                
            </div>
    
            <div class="col-md-6 col-sm-4" style="position: relative;">
                <div style="position: absolute; bottom: 0; right: 0;">
                    <div>
                        <img src="https://www.aimesoft.com/assets/aimesoft/images/logo.png" style="width: 7rem;"/>
                    </div>
                    <small >&copy; Copyright 2021 <span><a href="https://aimesoft.com" target="_blank">Aimesoft</a></span></small>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
